{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
  ],
  "plugins": [
    "jsx-a11y",
  ],
  "rules": {
    "import/no-named-as-default": 0,
    "arrow-body-style": 0,
    "linebreak-style": 0,
    "semi": 0,
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          "tsx",
        ]
      }
    ],
  }
}