@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.home__settings {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    font-size: 16px;

    &--title {
      text-align: center;
      margin-bottom: 5px;
      font-size: 16px;
      font-weight: bold;
    }

    @include md() {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.settings__select {
  cursor: pointer;
  max-width: 80px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
