.start-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .start-window {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    .start-title {
      width: 100%;
      font-size: 40px;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 60px;
      color: #6cffde;
      opacity: .8;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      letter-spacing: 13px;
    }

    .start-description {
      width: 100%;
      max-width: 565px;
      margin: 0 auto 58px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 300;
      color: #fff;
      opacity: .8;
    }

    .difficulity {
      width: 100%;

      .title-level {
        width: 100%;
        font-size: 30px;
        font-weight: 300;
        line-height: 1;
        color: #6cffde;
        opacity: .8;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        user-select: none;
      }

      .dif-levels {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        .dif-level {
          height: 40px;
          width: 40px;
          margin: 5px;
          display: flex;
          color: white;
          align-items: center;
          justify-content: center;
          border: 2px solid white;
          border-radius: 10%;
          cursor: pointer;

          &[data-active='true'] {
            color: red;
            border-color: red;
          }

          &:hover {
            background-color: royalblue;;
          }
        }
      }

      .title-round {
        width: 100%;  
        font-size: 30px;
        font-weight: 300;
        line-height: 1;
        color: #6cffde;
        opacity: .8;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        user-select: none;
      }

      .dif-rounds {
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 10px;

        .dif-round {
          width: 7%;
          display: flex;
          margin: 5px;
          align-items: center;
          justify-content: center;
          border-radius: 10%;
          border: 2px solid white;
          color: white;
          cursor: pointer;

          &[data-active='true'] {
            color: red;
            border-color: red;
          }

          &:hover {
            background-color: royalblue;
          }
        }
      }
    }

    .start-button {
      width: 100%;
      button {
        display: inline-block;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        text-align: center;
        padding: 19px 15px 21px;
        text-decoration: none!important;
        min-width: 162px;
        color: #fff!important;
        background: #00c49d;
        border-width: 0;
        border-radius: 4px;
        transition: all .15s ease;
      }
    }
  }
}