@import '../../scss/variables';

.home {
  font-family: $teamFont;
  font-size: 18px;

  &-box {
    background-color: $fourthColor;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
  }
}
