@import '../../scss/variables';
@import '../../scss/mixins';

.SpeakIt {
  padding: 100px;
  background-color: $secondColor;
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  & .cards {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  & .levels {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    left: 40px;
  }
}
