@import '../../../../scss/variables.scss';

.home__status__progress {
  &--box {
    border-radius: 10px;
    padding: 10px;
    background-color: $secondColor;
    font-size: 18px;
    text-align: center;
  }
  &--label {
    margin-bottom: 10px;
    text-align: center;
  }
}

.progress {
  background-color: $fourthColor;
}
