@import '../../../../scss/variables.scss';
@import '../../../../scss/mixins';

.home__status {
  &__stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @include exSm(){
      grid-template-columns: 1fr;
      justify-content: center;
    }
  }
}
