/*----colors----*/
$white: #ffffff;
$gray: #f2fefe;
$black:#515656;
/*-----styles------*/
.container{
  max-width: 1020px;
  padding: 0 15px;
  margin: 0 auto;
}
.Promo{
  .hero{
    max-width: 99vw;
    width: 100vw;
    height: calc(100vh - 100px);
    background: linear-gradient(0deg, #3ea7ff 0%, #42d1ff 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    &-section{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &-description{
      max-width: 50%;
      width: 100%;
      color: $white;
      & h1{
        font-size: 3rem;
      }
    }
    &-image{
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .services{
    padding: 100px 0;
    &-section{
      background-color: $gray;
    }
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    &-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      width: 25%;
      padding: 50px 30px;
      transition: all 0.3s ease;
      &:hover{
        box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
        background-color: $white;
      }
    }
  }
  .features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px 0;
    & .title{
      font-size: 2.5rem;
      color: $black;
    }
    &-description{
      text-align: center;
      max-width: 800px;
      color: $black;
      font-size: 1.2rem;
    }
    &-items{
      margin-top: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
      flex-wrap: wrap;
    }
    &-item{
      margin-top: 20px;
      padding: 50px 20px;
      width: 27%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      transition: all 0.3s ease;
      &:hover{
        @extend .services-box:hover;
        background-color: $gray;
      }
    }
  }
}