.card__main {
  &__sentence {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 24px;
    font-weight: bold;
    color: #17a2b8;
    user-select: none;
  }

  &__word {
    margin-right: 5px;
    color: tomato;

    &-container {
      border-bottom: 1px solid #17a2b8;
      margin-right: 5px;
    }

    &.hidden {
      visibility: hidden;
    }

    &__input {
      text-align: center;
      font-weight: bold;
      background-color: #ecf0f1;
      outline: none;
      border: none;
      border-radius: 5px;
    }

    &__sign {
      margin-left: 5px;
    }
  }

  &__other-word:not(:last-child) {
    margin-right: 5px;
  }
}
