@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.popup{
  display: none;
  width: 100%;
  height:100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.6);

    &--active{
      display: grid;
    }
}
