.card__main {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .card__main__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__word-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 22px;
  }

  &__text-example-translate {
    text-align: center;
    padding: 10px;
  }

  &__text-meaning {
    border: 1px solid tomato;
    background-color: tomato;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
  }
}
