@import 'scss/variables';
@import 'scss/mixins';

.card__main {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include md() {
    flex-direction: column;
  }

  @include sm() {
    flex-direction: column;
  }

  @include exSm() {
    flex-direction: column;
  }

  .card__main__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
