@import './scss/fonts';
@import './scss/variables';
@import './scss/mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  height: 100%;
}

body {
  font-family: "San Francisco";

  color: #000;

  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right bottom;
  background-image: url("./assets/img/auth-page-bg.jpg");

  width: 100%;
  height: 100%;

  @media screen and (max-width: 768px) {
    background-image: none;
    height: auto;
  }
}

#root {
  height: 100%;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 0 auto;

  padding-bottom: 50px;
}
