//width
$exSmBreak: 320px;
$smBreak: 575px;
$mdBreak: 768px;
$lgBreak: 992px;
$exLgBreak: 1200px;

// fonts
$teamFont: 'San Francisco';

//base color
$firstColor: #000000;
$secondColor: #ffffff;
$dangerColor: rgb(214, 33, 33);

$thirdColor: #032a45;
$fourthColor: #cccccc;
$baseGray: #717171;
$lightPink: #faebd7;

$mainHomeColor: #a8dadc;

//urlls
$baseBgImage: url('./assets/img/auth-page-bg.jpg');

/*----promo page colors---*/
$blue: #342d9b;
$white: #ffffff;
$gray: #efefea;
$black: #515656;

$spinnerFirstColor: #3d7ec0;
$spinnerSecondColor: #cc4545;

$btnGradient: linear-gradient(135deg, #25aae1, #4481eb, #04befe, #3f86ed);
$activeBtnLvlColor: orange;

$succesColor: #008000;
$failColor: #f00;
